* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    --color-black: #000;
    --color-while: #fff;
    --color-222222: #222222;
    --color-333333: #333333;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
}

.color-while {
    color: var(--color-while);
}

.all {
    color: var(--color-while);
}

a {
    text-decoration: none;
}

.header {}

.topbar {
    min-height: 46px;
    display: flex;
    background-color: var(--color-333333);
    align-items: center;
}

.topbar_place {
    margin-right: auto;
    font-size: 14px;
}

.topbar_place i {
    margin-left: 60px;
}

.topbar_media {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    align-items: center;
}

.media_phone {
    margin-right: 25px;
    font-size: 16px;
}

.media_phone:hover {
    cursor: pointer;
}

.media_fb {
    width: 30px;
    height: 30px;
    background-color: rgb(58, 88, 157);
    border-radius: 5px;
    margin: 0 2px;
    transition: all 0.3s ease;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.media_insta {
    width: 30px;
    height: 30px;
    background-color: #3b6994;
    border-radius: 5px;
    margin: 0 2px;
    transition: all 0.3s ease;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.media_twitter {
    width: 30px;
    height: 30px;
    background-color: #2478ba;
    border-radius: 5px;
    margin: 0 2px;
    transition: all 0.3s ease;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.media_ytb {
    width: 30px;
    height: 30px;
    background-color: #c33223;
    border-radius: 5px;
    margin: 0 2px;
    transition: all 0.3s ease;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.media_fb_hover,
.media_insta_hover,
.media_twitter_hover,
.media_ytb_hover {
    position: absolute;
    width: max-content;
    height: 20px;
    line-height: 15px;
    color: var(--color-while);
    background-color: var(--color-black);
    padding: 6px 10px 0px 10px;
    box-sizing: content-box;
    border-radius: 7px;
    font-size: 13px;
    z-index: 1;
    animation: fadein 1s ease;
    display: none;
}

.media_fb:hover {
    background-color: #2a4788;
    cursor: pointer;
}

.media_insta:hover {
    background-color: #23527e;
    cursor: pointer;
}

.media_twitter:hover {
    background-color: #1a6aa7;
    cursor: pointer;
}

.media_ytb:hover {
    background-color: #9e2316;
    cursor: pointer;
}

.media-hover-square {
    width: 17px;
    height: 17px;
    position: absolute;
    top: -4px;
    transform: rotate(-45deg);
    background-color: var(--color-black);
    z-index: -1;
    left: 37px;
}

.media_hover_topleft {
    top: 50px;
    left: -30px;
}

@keyframes fadein {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}


/* HEADER MAIN */

.header_main {
    background-color: var(--color-333333);
    height: 100px;
    padding: 0 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header_inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_logo_img {
    width: 200px;
    margin-left: 50px;
}

.header_center {
    display: flex;
    margin-left: 200px;
}

.search_web {
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 2.65em;
    border: none;
    background-color: rgb(255 255 255 / 82%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_btn {
    min-height: 2.65em;
    min-width: 5em;
    border: none;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #c89979;
}

.header_right {
    display: flex;
    margin-left: auto;
}

.cart {
    display: flex;
    color: var(--color-while);
    align-items: center;
}

.cart_text {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-while);
}

.logo_cart {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.logo_cart::after {
    transition: height .1s ease-out;
    bottom: 100%;
    margin-bottom: 0;
    margin-left: -8px;
    height: 8px;
    width: 14px;
    left: 50%;
    content: ' ';
    position: absolute;
    pointer-events: none;
    border: 2px solid #fff;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom: 0;
}

.header_signin {
    line-height: 100px;
    margin-left: 50px;
}

.header_login {
    line-height: 100px;
}

.btn_login {
    padding: 10px 14px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 0 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-black);
    background-color: rgba(250, 250, 250, 0.808);
}


/* MENU  */

.menu {
    background-color: var(--color-333333);
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_home_text {
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 550;
    padding-right: 30px;
}

.header_home_text span {
    color: var(--color-while);
}

.header_home_text span:hover {
    color: #c89979;
}

.header_home_text:hover {
    cursor: pointer;
}

.main {
    height: 2000px;
}

.footer {}